body {
	color: $gray;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
}

.primary-heading {
	margin-bottom: 4rem;

	& span {
		animation-duration: 2s;
		color: $white;
		display: block;
	}

	&--main {
		animation-name: moveFromLeft;
		font-size: 8rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
	}

	&--sub {
		animation-name: moveFromRight;
		font-size: 2.4rem;
		font-weight: 700;
		letter-spacing: 1.6rem;
	}
}

@include for-phone-only {
	.primary-heading {
		&--main {
			font-size: 6.4rem;
			letter-spacing: normal;
		}

		&--sub {
			font-size: 2.24rem;
			letter-spacing: normal;
		}
	}
}

.secondary-heading {
	background-image: linear-gradient(to right, $light-green, $dark-green);
	background-clip: text;
	color: transparent;
	display: inline-block;
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: text-shadow 0.2s linear;

	&:hover {
		cursor: default;
		text-shadow: 0.5rem 1rem 3rem rgba($black, 0.2);
	}
}
