@mixin move-animation-mixin($name, $x: 0, $y: 0) {
	@keyframes #{$name} {
		0% {
			opacity: 0;
			transform: translateX($x) translateY($y);
		}

		100% {
			opacity: 1;
			transform: translateX(0) translateY(0);
		}
	}
}
