@import 'variables';
@import 'mixins';
@import 'reset';
@import 'buttons';

@include move-animation-mixin(moveFromLeft, -50%);
@include move-animation-mixin(moveFromRight, 50%);

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: $gray;
	padding: $padding-body;
}

.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			$light-green-transparent,
			$dark-green-transparent
		),
		url(../assets/hero.jpeg);
	background-color: $light-green;
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;

	&__logo {
		position: absolute;
		top: 40px;
		left: 40px;
		height: 35px;
	}

	&__wrapper--centered {
		display: inline-block;
		position: absolute;
		top: calc(50% - #{$padding-body});
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__button {
		border-radius: 100px;
		padding: 15px 40px;
		text-transform: uppercase;
	}

	&__primary-heading {
		margin-bottom: 10px;

		& span {
			color: $white;
			display: block;
			animation-duration: 2s;
		}

		&__main {
			font-size: 5rem;
			font-weight: 400;
			letter-spacing: 35px;
			animation-name: moveFromLeft;
		}

		&__sub {
			font-size: 1.5rem;
			font-weight: 700;
			letter-spacing: 1rem;
			animation-name: moveFromRight;
		}
	}
}

@media (xs-breakpoint()) {
	body {
		padding: 0;
	}
	.header {
		&__primary-heading {
			&__main {
				font-size: 4rem;
				letter-spacing: normal;
			}

			&__sub {
				font-size: 1.4rem;
				letter-spacing: normal;
			}
		}
	}
}
