* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    background-color: #ffd747;
    height: 100vh;
    width: 100%;
}

.title {
    padding-top: 100px;
    text-align: center;
}

.images-grid {
    margin: 100px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    list-style: none;
}

.images-grid__figure {
    position: relative;
    background-color: #ffd747;
    height: 100%;
}

.images-grid__figure__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.images-grid__figure__caption {
    align-items: center;
    bottom: 0;
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.1));
    color: #fff;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.images-grid--blurred .images-grid__figure__caption > :first-child {
    position: relative;
}

.images-grid--blurred .images-grid__figure__caption {
    overflow: hidden;
}

.images-grid--blurred .images-grid__figure__caption::before,
.images-grid--blurred .images-grid__figure__caption::after {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    content: '';
    filter: blur(10px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.images-grid--blurred .images-grid__figure--1 .images-grid__figure__caption::before {
    background-image: url('assets/images/1.jpg');
}

.images-grid--blurred .images-grid__figure--2 .images-grid__figure__caption::before {
    background-image: url('assets/images/2.jpg');
}

.images-grid--blurred .images-grid__figure--3 .images-grid__figure__caption::before {
    background-image: url('assets/images/3.jpg');
}

.images-grid--blurred .images-grid__figure--4 .images-grid__figure__caption::before {
    background-image: url('assets/images/4.jpg');
}