.about,
.tours,
.stories {
	background-color: $light-gray-1;
	padding: 25rem 0;
	margin-top: -20vh;
	text-align: center;

	&__title {
		margin-bottom: 8rem;
	}
}

.about {
	@include for-phone-only {
		margin-bottom: 15rem;
	}

	&__texts {
		text-align: left;

		&__subtitle {
			margin-bottom: 1.5rem;
		}

		&__btn-learn-more {
			font-size: 1.6rem;
			background-color: $light-gray-1;
			border-bottom: 0.1rem solid $light-green;
			color: $light-green;
			padding: 0.5rem;
			transition-property: background-color, color, transform;
			transition-duration: 0.2s;
			transition-timing-function: linear;

			&:hover,
			&:focus {
				background-color: $light-green;
				box-shadow: 0 1rem 2rem rgba($black, 0.15);
				color: $white;
				transform: translateY(-0.5rem);
			}
		}
	}
}

.about {
	& .about__column.about__column.about__column {
		@include for-phone-only {
			float: none;
			width: 100%;
		}

		@include lte-tablet {
			padding: 1rem;
		}
	}
}

.features {
	background-image: linear-gradient(
			to right bottom,
			$light-green-transparent,
			$dark-green-transparent
		),
		url(../assets/nat-4.jpg);
	background-color: $light-green;
	background-size: cover;
	padding: 20rem 0;
	margin-top: -10rem;
	transform: skewY(-7deg);

	&__box__subtitle {
		margin-bottom: 1.5rem;
	}

	& > * {
		transform: skewY(7deg);
	}
}

.features {
	& .features__column.features__column.features__column {
		@include for-phone-only {
			float: none;
			padding: 1rem;
			width: 100%;
		}

		@include for-tablet {
			margin-right: 0;
			padding: 1rem;
			width: 50%;
		}
	}
}

.tours {
	padding-bottom: 8rem;

	&__card {
		&__header {
			&--1 {
				background-image: linear-gradient(
						to right bottom,
						$selective-yellow,
						$burning-orange
					),
					url(../assets/nat-5.jpg);
			}

			&--2 {
				background-image: linear-gradient(
						to right bottom,
						$medium-green,
						$dark-green
					),
					url(../assets/nat-6.jpg);
			}

			&--3 {
				background-image: linear-gradient(
						to right bottom,
						$dodger-blue,
						$royal-blue
					),
					url(../assets/nat-7.jpg);
			}
		}

		&--back {
			&--1 {
				background: linear-gradient(to right bottom, $selective-yellow, $burning-orange);
			}

			&--2 {
				background: linear-gradient(to right bottom, $medium-green, $dark-green);
			}

			&--3 {
				background: linear-gradient(to right bottom, $dodger-blue, $royal-blue);
			}
		}
	}
}

.tours {
	& .tours__column.tours__column.tours__column {
		@include for-phone-only {
			width: 100%;
		}

		@include for-tablet {
			width: 90%;
		}

		@include lte-tablet {
			float: none;
			margin: auto;
			padding: 1rem;
		}
	}
}

.tours,
.stories {
	&__button {
		background-color: $medium-green;
		color: $white;
	}
}
