.composition {
	position: relative;

	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}

	&__photo {
		box-shadow: 0 1.5rem 4rem rgba($black, .4);
		outline-offset: 2rem;
		position: absolute;
		transition: transform 0.2s linear;
		width: 55%;

		&:hover {
			box-shadow: 0 2.5rem 4rem rgba($black, .5);
			outline: 1.5rem solid $medium-green;
			transform: scale(1.05);
			z-index: 1;
		}

		&--1 {
			left: 0;
			top: -2rem;
		}

		&--2 {
			right: 0;
			top: 2rem;
		}

		&--3 {
			left: 20%;
			top: 10rem;
		}
	}
}
