.story {
	@include clearfix;

	box-shadow: 0 3rem 6rem rgba($black, 0.1);
	font-size: 1.6rem;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	width: 100%;

	&:hover &__image {
		transform: scale(1.1);
		filter: blur(2px) brightness(80%);
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&__shape {
		clip-path: circle(50% at 50% 50%);
		height: 15rem;
		margin: auto;
		margin-bottom: 4rem;
		position: relative;
		shape-outside: circle(50% at 50% 50%);
		width: 15rem;
	}

	&__caption {
		color: $white;
		font-size: 1.7rem;
		left: 50%;
		opacity: 0;
		position: absolute;
		top: 50%;
		text-align: center;
		text-transform: uppercase;
		transition-property: transform, opacity;
		transition-duration: 0.1s;
		transform: translate(-50%, 10%);
	}

	&__image {
		transition: transform 0.1s linear;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	&__text {
		&__title {
			margin-bottom: 1rem;
		}
	}

	@include for-tablet {
		width: 90%;
	}

	@include gte-laptop {
		padding: 6rem;
		padding-left: 9rem;
		text-align: left;
		transform: skewX(-10deg);
		width: 75%;

		&__text {
			transform: skewX(10deg);
		}

		&__shape {
			float: left;
			margin-bottom: auto;
			transform: translateX(-3rem) skewX(10deg);
		}
	}
}
