/* Colors */

$light-green: #7ed56f;
$light-green-transparent: rgba(126, 213, 111, 0.8);
$medium-green: #55c57a;
$dark-green: #28b485;
$dark-green-transparent: rgba(40, 180, 131, 0.8);
$selective-yellow: #ffb900;
$burning-orange: #ff7730;
$dodger-blue: #2998ff;
$royal-blue: #5643fa;
$gray: #777;
$dark-gray-1: #999;
$light-gray-1: #f7f7f7;
$light-gray-2: #eee;
$white: #fff;
$black: #000;

/* Configs */

$padding-body: 3rem;

/* Grid */

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
