/* Colors */

$light-green: #7ed56f;
$light-green-transparent: rgba(126, 213, 111, 0.8);
$medium-green: #55c57a;
$dark-green: #28b485;
$dark-green-transparent: rgba(40, 180, 131, 0.8);
$gray: #777;
$white: #fff;

/* Configs */

$padding-body: 3rem;
